body{
font-family: Arial, sans-serif;
text-align: center;
background: #e8f4ff;
margin: 0;
padding: 0;
}

h1{
color: rgba(10, 172, 231, 0.822);
margin-top: 40px;
}


form{
margin: 20px;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
}

input{
padding: 10px;
border-radius: 6px;
border: 1px solid purple;
width:100%;
max-width:300px;
}

button{
padding: 10px 15px;
border: none;
background: palevioletred;
color: black;
border-radius: 6px;
cursor: pointer;
}

button:hover{
background: purple;
color: white;
}


#result{
display: flex;
justify-content: center;
margin-top: 30px;
}

.card{
background: white;
padding: 25px;
border-radius: 15px;
width: 260px;
box-shadow: 0px 8px 20px pink;
}

.card h2{
color: black;
margin-bottom: 15px;
}

.card p{
font-size: 16px;
color: black;
margin: 8px 0;
}


@media (max-width:768px){

    form{
        flex-direction: column;
        align-items: center;
    }

    input{
        width: 100%;
        max-width: 300px;
    }

    button{
        width: 100%;
        max-width: 200px;
    }

}

@media (max-width:480px){

    h1{
        font-size: 26px;
    }

    .card{
        width: 90%;
    }

}



